:root {
  --favColor: #c8b6ff;
}
.myInput{
	outline: none;
	margin: 5px 0px;
	box-shadow: none;
	color: white;
	background-color: transparent;
	border:none;
	width: 100%;
	-webkit-box-shadow:0px 1px 0px gray;
  -moz-box-shadow:0px 1px 0px gray;
  box-shadow:0px 1px 0px gray;
	transition: .3s;
}

.myInput:disabled{
	cursor: not-allowed;
}

.myInput:focus{
	-webkit-box-shadow:0px 2px 0px var(--favColor);
  -moz-box-shadow:0px 2px 0px var(--favColor);
  box-shadow:0px 2px 0px var(--favColor);
}